* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* ---------- Colors ---------- */
    --primary-color: #0e48f1;
    --panel-color: #fff;
    --text-color: #000;
    --black-light-color: #707070;
    --black-light-color: #707070;
    --border-color: #e6e5e5;
    --toggle-color: #ddd;
    --box1-color: #4da3ff;
    --box2-color: #ffe6ac;
    --box3-color: #e7d1fc;
    --title-icon-color: #fff;
    
    /* ---------- Transitions ---------- */

    --trans-05: all 0.5s ease;
    --trans-03: all 0.3s ease;
    --trans-02: all 0.2s ease;
}

nav .logo-image {
    min-width: 45px;
}

nav .logo-image img {
    width: 45px;
}