@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://css.gg/css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    /* ---------- Colors ---------- */
    --primary-color: #0e48f1;
    --panel-color: #fff;
    --text-color: #000;
    --black-light-color: #707070;
    --black-light-color: #707070;
    --border-color: #e6e5e5;
    --toggle-color: #ddd;
    --box1-color: #4da3ff;
    --box2-color: #ffe6ac;
    --box3-color: #e7d1fc;
    --title-icon-color: #fff;
    
    /* ---------- Transitions ---------- */

    --trans-05: all 0.5s ease;
    --trans-03: all 0.3s ease;
    --trans-02: all 0.2s ease;
}

body {
    min-height: 100vh;
    background: var(--primary-color);
}

nav {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--panel-color);
}

nav .logo-name {
    display: flex;
    align-items: center;
}

nav .logo-image {
    display: flex;
    justify-content: center;
    min-width: 45px;
}

nav .logo-image img {
    width: 40px;
    object-fit: cover;
    border-radius: 50%;
}

nav .logo-name .logo_name{
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--text-color);
    margin-left: 14px;
}